<h1 class="text-4xl font-semibold text-center p-4">Available Manga</h1>
<div class="flex justify-end items-center">
<p class="mx-2">Sort by:</p>
  <%= form_tag({ controller: 'mangas', action: 'index' }, method: :get) do %>
    <%= select_tag(:sort_by,
      options_for_select([
        ['None', 'none'],
        ['Score', 'score'],
        ['Price: Low to High', 'price_asc'],
        ['Price: High to Low', 'price_desc'],
        ['Title', 'title'],
        ['Recently Updated', 'recently_updated'],
        ['New Products', 'new_products']
      ], params[:sort_by]),
      class: 'form-control rounded-md text-sm mx-2', onchange: 'this.form.submit();'
    ) %>
  <% end %>
</div>
<div class="flex justify-center">
  <div class="grid grid-cols-3 gap-10 list-none text-center">
  <% @mangas.each do |manga| %>
    <div class="flex flex-col text-2xl py-2 items-center m-auto">
      <%= link_to manga_path(manga) do %>
        <p class="shadow-lg shadow-gray-400"><%= image_tag(manga.image, size: "300x600") %></p>
        <p class="m-2"><%= manga.title %></p>
      <% end %>
      <div class="flex flex-col mt-auto">
        <p class="text-lg">Price: <%= manga.price %></p>
        <%= form_with url: cart_index_path, method: :post do %>
          <%= hidden_field_tag(:id, manga.id) %>
          <%= hidden_field_tag(:quantity, 1) %>
          <%= button_tag 'Add to Cart', class: "text-lg text-white mt-8 ml-auto bg-emerald-800 p-4 px-10 rounded-full hover:bg-emerald-600" %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>
<div class="flex justify-center mx-auto py-4">
 <%= paginate @mangas, window: 2 %>
</div>