<div class="p-4">
<h1 class="text-4xl font-semibold text-center p-4">My Cart</h1>
<div class="flex justify-between text-xl border-b-2">
  <p class="mx-2">Item</p>
  <p class="mx-2">Price</p>
</div>
<% if cart.present? %>
  <% cart.each do |manga| %>
  <div class="flex justify-between items-center">
    <div class="flex flex-col mx-2 p-4" >
      <div class="flex">
        <%= link_to image_tag(manga.image, size: "100x200"), manga_path(manga) %>
        <div class="flex flex-col mx-4 justify-between">
          <p class="text-2xl"><%= link_to manga.title, manga_path(manga) %></p>
          <p class="text-md">By: <%= link_to manga.author.name, author_path(manga), class: "text-blue-600 hover:text-blue-800 hover:underline" %></p>
          <div class="flex flex-row items-center">
            <p class="text-md"><%= "Qty: x#{session[:shopping_cart][manga.id.to_s]["quantity"]}" %></p>
            <%= button_to " ➕", increment_path(id: manga.id), class:"text-xs mx-2 bg-gray-300 rounded-md p-1 hover:bg-gray-400", method: :patch %>
            <% if session[:shopping_cart][manga.id.to_s]["quantity"] != 1 %>
              <%= button_to " ➖", decrement_path(id: manga.id), class:"text-xs mx-2 bg-gray-300 rounded-md p-1 hover:bg-gray-400", method: :patch %>
            <% end %>
          </div>
          <div class="">
            <%= button_to "Remove", cart_path(id: manga.id), class:"items-end text-blue-600 hover:text-blue-800 hover:underline", method: :delete %>
          </div>
        </div>
      </div>
    </div>
      <p class="mx-4"><%= number_to_currency(manga.price * session[:shopping_cart][manga.id.to_s]["quantity"].to_i) %></p>
  </div>
  <% end %>
  <div class="flex justify-end border-t-2 ">
    <p class="mx-4 my-2">Subtotal: <%= number_to_currency(@subtotal) %></p>
  </div>
  <div class="text-center bg-yellow-400 hover:bg-yellow-600 text-black font-bold px-4 py-2 rounded-md">
      <%= link_to "Checkout", checkout_index_path %>
  </div>
<% else %>
  <p class="flex mx-2 my-4">Your cart is empty</p>
<% end %>
</div>