<h1 class="text-4xl font-semibold text-center p-4">Manga by <%= @author.name %></h1>
<div class="flex justify-center">
  <ul class="max-w-md">
    <% @author.manga.each do |manga| %>
      <li class="flex flex-row items-center py-4 border-2 border-gray-900 rounded-md text-center mb-4">
        <div class="p-4">
          <div class="text-xl font-bold hover:text-blue-600">
            <%= link_to manga_path(manga) do %>
            <p class="shadow-lg shadow-gray-400"><%= image_tag(manga.image, size: "200x300") %></p>
            <p class="m-2"><%= manga.title %></p>
            <% end %>
          </div>
        </div>
        <div class="p-4">
        <p class="text-left">Synopsis:</p>
          <div class="text-sm w-auto text-left" >
            <%= manga.description.truncate(200, omission: '...') %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
