<!DOCTYPE html>
<html>
  <head>
    <title>Amangas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://js.stripe.com/v3"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-200">
    <div class="bg-gradient-to-br from-emerald-800 to-emerald-200">
      <%= render partial: 'login/login_banner'%>
      <%= render partial: 'shared/banner' %>
      <%= render partial: 'shared/search' %>
    </div>
      <%= render partial: 'shared/nav' %>
    <div class="max-w-7xl h-auto mx-auto bg-white">
      <%= yield %>
    </div>
      <%= render partial: 'shared/footer' %>
  </body>
</html>
